body{
	
	font-family: 'Merriweather Sans', sans-serif;
	margin:0;
        font-family: 'Signika Negative', sans-serif;
	
}

/*Accueil*/

header{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}

hr{
	width:80%;
	height:2px;
	margin-bottom: 20px;
	background-color: rgba(29,105,139,0.9);
}

#entete
{
	display:flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: center;
}

/*Menu*/
.nav{
background-color: rgba(0, 181, 204, 1);
overflow: hidden;
}

.nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
	
}


    
.home {
  background-color: rgba(0, 230, 64, 1);
  color: white;
}

.nav icon{
    display: none; 
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(51, 110, 123, 1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 50;
}


.dropdown-content a {
  float: none;
  color: rgba(232, 236, 241, 1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav a:hover, .dropdown:hover .dropbtn {
   background-color:rgba(242, 120, 75, 1);
  color: white;
  
}

.dropdown-content a:hover {
  background-color:rgba(82, 179, 217, 1);
  color: black;
  
}



.dropdown:hover .dropdown-content {
  display: block;
}

#banniere{

	background-image: url(../images/medical.png);
	background-position: center;
	background-repeat: no-repeat;
	height:450px;
	margin-top:5px;
	margin-bottom:5px;

}

#entete img{
	float:left;
}


/*slider*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*Formulaire*/

form{
	width:300px;
	text-align: center;
	display:flex;
	flex-direction: column;
	margin:auto;
	margin-top:60px;	
}



#partie_deux{
		
		display:flex;
		flex-direction: column;
		border-top:3px solid black;	

}


#entete_formulaire{

			background-color: rgba(62, 63, 63, 1);
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			color:rgba(255,255,255,0.9);
}

#corps_formulaire{

	width:250px;
	padding:20px;
	padding-top:35px;
	color:black;
	margin:auto;
	
}



#bouton_formulaire img{
	width:100px;
	border-radius:10px;
}


input{

	padding:10px;
	margin:5px;
}



#calendar
{
    position:relative;
}

/* Modal Body */


#modal{
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Full calendar */
#eventOptions{
     background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal-header {
  padding: 2px 16px;
  background-color: rgba(242, 120, 75, 1);
  color: white;
}


.modal-body {
    padding: 20px;
    overflow:hidden;
}

#edit, #delete{
     float:right;
     margin-right:5px;
}

.fc-center h2{
    font-weight:bold;
    color:rgba(29,105,139,0.9);
}

.fc-time{
    text-align:center;
    font-weight:bold;
    color:white;
}

.fc-title{
    text-align:center;
    font-size:12px;
    color:white;
}

/* datatable*/

#table_id td{
    border-color:rgba(1, 152, 117, 1);
}

#table_id tr:hover{
    background-color:rgba(1, 152, 117, 0.5);
}

#table_id th{
    background-color: rgba(1, 152, 117, 1);
}

/*news*/
h2{
    text-align:center;
}

.container{
    display:flex;
}

.newsBox{
    flex-direction: column;
    width:22.5%;
    flex-wrap: wrap;
    margin:2.5%;
    box-shadow: 8px 8px 0px rgba(228, 241, 254, 1); 
}


.imagesBox img{
    max-width:100%;
    height:auto;
}

.fullNews{
    width:50%;
    margin:auto;
}

.fullNews{
    box-shadow: 8px 8px 0px rgba(228, 241, 254, 1); 
}

td{
    text-align:center;
}

#user{
    float:right;
}

