body{
	
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    margin:0;
	
}

h1{
    color:white;
}

h2,h3{
    color:white;
    text-align:center;
}

h4{
    color:rgba(36, 37, 42, 1);
}


/*Accueil*/

header{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#entete
{   
    display:flex;
    align-items: center;
    justify-content: center;
}

#entete img{
	float:left;
}

/*Menu*/
.nav{
    background-color: rgba(0, 181, 204, 1);
    overflow: hidden;
    box-shadow: 10px 5px 5px rgba(0, 181, 204, 1);
    margin-bottom:50px;
}

.nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;	
}
   
.home {
    background-color: rgba(0, 230, 64, 1);
    color: white;
}

.nav .icon{
    display: none; 
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(51, 110, 123, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
}


.dropdown-content a {
    float: none;
    color: rgba(232, 236, 241, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav a:hover, .dropdown:hover .dropbtn {
    background-color:rgba(242, 120, 75, 1);
    color: white;
  
}

.dropdown-content a:hover {
    background-color:rgba(82, 179, 217, 1);
    color: black; 
}



.dropdown:hover .dropdown-content {
    display: block;
}

/*slider*/
* {
    box-sizing:border-box
  }


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none;
}

.prevs, .nexts {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nexts {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prevs:hover, .nexts:hover {
    background-color: rgba(0,0,0,0.8);
}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 181, 204, 0.2);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#dot{
    margin-bottom:100px;
}

.active, .dot:hover {
    background-color: rgba(0, 181, 204, 1);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/*Formulaire*/

form{
    width:308px;
    padding:2px;
    text-align: center;
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-bottom:40px;
    padding-bottom:10px;
    background-color:rgba(0, 181, 204, 1);
    border-radius:1%;
    border:1px solid rgba(1, 50, 67, 1);
    color:rgba(1, 50, 67, 1);
    box-shadow: 8px 8px 0px rgba(1, 50, 67, 1); 
}

.form_button{
    background-color:rgba(0, 230, 64, 1);
    border:2px outset rgba(1, 50, 67, 1);
    font-weight:bold;
    cursor:pointer;
    color:white;
    
}

.form_button:hover{
    background-color: rgba(242, 120, 75, 1);
}

input{
    padding:10px;
    margin:10px;
}

textarea{
    padding:10px;
    margin:10px;
    resize:none;
}

/* Modal Body */

#modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/*EDT full calendar*/
#calendar
{
    position:relative;
}

#add-button
{   
    background-color:rgba(37, 116, 169, 1);
    padding:5px;
    font-weight:bold;
    cursor:pointer;
    text-align: center;
    color:white;
   
}

#add-button:hover{
    background-color: rgba(242, 120, 75, 1);
}

#add-link{
    display:block;
    text-align:center;
}

#eventOptions{
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    width: 50%; 
}

/* Modal Content/Box */
#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-header {
  padding: 2px 16px;
  background-color: rgba(242, 120, 75, 1);
  color: white;
}


.modal-body {
    padding: 20px;
    overflow:hidden;
}

 /* The Modal (background) */
#myModaltwo {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.shut {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.shut:hover,
.shut:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

#edit, #delete{
    float:right;
    margin-right:5px;
}

/* fullcalendar*/

.fc-center h2{
    font-weight:bold;
    color:rgba(29,105,139,0.9);
}

.fc-time{
    text-align:center;
    font-weight:bold;
    color:white;
}

.fc-title{
    text-align:center;
    font-size:12px;
    color:white;
}

.fc-addButton-button {
    visibility:hidden;
}

.fc-scroller{
    height:auto !important;
}

/* datatable*/

#table_id td, #account td{
   background-color: rgba(37, 116, 169, 0.1);
}

#table_id tr:hover,#account tr:hover{
    background-color: rgba(37, 116, 169, 0.2);
}

#table_id th, #account th{
    background-color: rgba(37, 116, 169, 1);
    color:white;
}

td{
    text-align:center;
}

#rightsupdate tr:hover{
    background-color: rgba(37, 116, 169, 0.6);
}

.table-rights{
    margin:auto;
}

.table-rights tr:hover{
    background-color: rgba(37, 116, 169, 0.6);
}
/*news*/
#news-title{
    color:#ff6600;
}

#contentBox{
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    justify-content:space-between;
    margin:auto;
}

.newsBox{
    width:300px;
    flex-direction: column;
    padding:20px;
    margin:0 auto;
    margin-bottom:40px;
    border: 1px outset rgba(0, 181, 204, 0.5);
    box-shadow: 8px 8px 0px rgba(0, 181, 204, 0.5);  
}

.newsBox a{
     float:right;
}


.newsBox a, .fullNews a{
    text-decoration:none;
    color: rgba(0, 181, 204, 1)
}



.newsBox a:visited,.fullNews a:visited{
    color: rgba(0, 181, 204, 1);
}

.newsBox a:hover,.fullNews a:hover{
    color: rgba(242, 120, 75, 1);
    
}

.newstext{
    text-align:justify;
}

.link{
    text-align: right;
}

.imagesBox img{
    max-width:100%;
    height:215px;
    border:1px outset rgba(0, 181, 204, 0.5);
}

.fullImage img{
    max-width:100%;
    height:auto;
}

.fullNews{
    width:500px;
    margin:auto;
    margin-bottom:20px;
}

.newsBox img{
-webkit-transition: all 1s ease; 
-moz-transition: all 1s ease; 
-ms-transition: all 1s ease; 
-o-transition: all 1s ease; 
transition: all 1s ease;
}
.newsBox img:hover {
    cursor:pointer;
-webkit-transform:scale(1.25); 
-moz-transform:scale(1.25); 
-ms-transform:scale(1.25); 
-o-transform:scale(1.25); 
transform:scale(1.25);
}


/* Pagination*/
#paging{
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
}

.paging-link{
    padding:5px;
    background-color:rgba(0, 181, 204, 1);
    color:white;
    text-decoration:none;
}

.paging-link:hover{
    background-color:rgba(242, 120, 75, 1);
}

.active-page{
    background-color: rgba(0, 230, 64, 1);
    color:white;
    padding:5px;
    text-decoration:none;
}

/* quick menu */
#menu-container{
    display:flex;
    background-color: rgba(0, 181, 204, 1);
    color:rgba(0, 177, 106, 1);
    position:fixed;
    right:0;
    border:inset 2px rgba(0, 181, 204, 0.5);
    z-index:1000;
    top:50%;    
    border-bottom-left-radius:10%;
    border-top-left-radius:10%;
}
#bar{
    display:flex;
    justify-content: center;
    align-items: center;
    border-right:solid 1px rgba(228, 241, 254, 1);
}

#bar .arrow {
     width:20px;
     color:rgba(228, 241, 254, 1);
}

#bar .arrow:hover{
    color: rgba(242, 120, 75, 1);
    cursor:pointer;
}

#bar #arrow-left {
    display:none;
}

.user-menu a,.status{
    text-decoration:none;
    color:white;
}

.user{
   visibility:visible;
}

.user i{
    
    float:left;
    vertical-align: middle;
    width:20px;
   
}

.normal{
    color:white;
}

.prevs:hover,.nexts:hover{
    background-color:rgba(0, 181, 204, 0.6);
}


.user .first-option
{
    width:100%;
    background-color: rgba(0, 181, 204, 0.5);
}



.user-menu a:visited{
    text-decoration:none;
    color:white;
}

.user-menu a:hover{
    color: rgba(242, 120, 75, 1);
}

#status{
    color:rgba(1, 50, 67, 1)
}

footer{
    position:relative;
    width:100%;
    background-color:rgba(0, 181, 204, 1);
    margin-top:100px;
    height:245px;
    z-index:2000;
}

/* footer */
#footer-address{
    
    display:flex;
    flex-direction: column;
}

.footer-content h1,.footer-content p{
    text-align:center;
    color:white;
}

.social-footer{
    text-decoration:none;
    text-align:center;
}

.social-footer a{
    text-decoration:none;
    color:white;
    padding:5px;
}

.footer-content img{
    position:absolute;
    right:0;
    border:solid 2px rgba(103, 128, 159, 1);
}

/* page Editor */
#page-editor{
    width:80%;
    height:auto;
}

.page-container{
    margin:auto;
    width:80%;
}

/* contacts*/
#contact-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    border:none;
    box-shadow:none;
}

#contact-form form{
    border:none;
    box-shadow:none;
    height:100%;
}



@media screen and (max-width: 780px) {
   
    #entete img{
        width:130px;
        height:126px;
    }
  
    #entete{
        margin-top:25px;
        margin-bottom:25px;
    }
    
    /* Navigation */
  .nav{
        margin-top:20px;
    }
    
  .nav a:not(:first-child), .dropdown .dropbtn {
        display: none;
  }
  .nav a.icon {
        float: right;
        display: block;
  }
  
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
  }
  .nav.responsive a {
        float: none;
        display: block;
         text-align: left;
  }
  .nav.responsive .dropdown {float: none;}
  .nav.responsive .dropdown-content {position: relative;}
  .nav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
  }
  
    #separation img{
        width:350px;
        height:106px;
    }
    
    /* Actus */
    .page-container img{
        width:250px;
        height:auto;
        display:block;
        margin:auto;
    }
    
    .page-container{
        margin:auto;
        width:100%;
    }

    form{
        width:280px;
    }
    
    .footer-content img{
        display:none;
    }

}


@media screen and (max-width: 600px) {
    /* Navigation */
    #entete{
      margin-top:50px;
      margin-bottom:50px;
    }
    
   #entete img{
        width:80px;
        height:77px;
   }
   
    #separation img{
        width:200px;
        height:61px;
    }
    
    /* Actus */
    .fullNews{
        width:280px;
        margin:auto;
        margin-bottom:20px;
    }
   
}

